* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
}
.post_list_title {
  text-align: center;
  font-size: 28px;
  margin-top: 70px;
}
.post_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.post_item {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  margin: 20px 20px;
  border-radius: 15px;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.post_text div {
  margin: 10px 15px;
}

.add_post_form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.no_posts_text {
  text-align: center;
  margin-top: 40px;
  color: gray;
}
.sorting_fieldset {
  display: flex;
  align-items: center;
  margin: 0 20px;
  padding: 20px 20px 25px 20px;
}
.sorting_fieldset legend {
  padding: 0 7px;
  margin: 0;
}
.sorting_fieldset > * {
  margin-left: 20px;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 500ms ease-in;
}
.post-exit {
  opacity: 1;
  transform: translateX(0px);
}
.post-exit-active {
  opacity: 0;
  transform: translateX(-350px);
  transition: 500ms ease-in;
}

.page_btn {
  margin: 3px;
  padding: 8px 10px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}
.page_btn:hover {
  cursor: pointer;
}
.page_btn.current {
  background-color: white;
  color: black;
  border: 1px solid;
}
